<a href="#main-content" class="skip-nav">Skip to content</a>

<header id="main-header">
    <div class="container">
        <div class="header-wrapper">

            <a id="logo" href="{{ "/index.html" | prepend: site.baseurl }}">cadence baker</a>
     
            <button id="menubutton" aria-label="toggle navigation">
            </button>

           
            <div id="top-level-nav" class="nav-list closed">
                <nav class="dropdown">
                    {% if page.url == "/music/audio/" %}
                       <a class="current dropdown-landing" id="music-landing" href="{{ page.url | prepend: site.baseurl }}">music</a>
                    {% else %}
                       <a class="dropdown-landing" id="music-landing" href="{{ "/music/audio/" | prepend: site.baseurl }}" >music</a>
                   {% endif %}

                    <nav class="nav-list" id="music-menu">

                        <ul>
                            {% include music-submenu.html %}
                        </ul>

                    </nav>
                </nav>

                <nav class="dropdown">
                    {% if page.url == "/tech/projects/" %}
                        <a class="current dropdown-landing" id="geek-landing" href="{{ page.url | prepend: site.baseurl }}">tech</a>
                    {% else %}
                        <a class="dropdown-landing" id="geek-landing" href="{{ "/tech/projects/" | prepend: site.baseurl }}" >tech</a>
                    {% endif %}

                    <nav class="nav-list" id="geek-menu">

                        <ul>
                            {% include tech-submenu.html %} 
                        </ul>

                    </nav>
                </nav>

                {% if page.url == "/blog/" %}
                    <a class="current" id="blog-landing" href="/blog/index.html">blog</a>
                {% else %}
                    <a id="blog-landing" href="/blog/index.html">blog</a>
                {% endif %}

                {% if page.url == "/contact/" %}
                    <a class="current" id="contact-landing" href="{{ page.url | prepend: site.baseurl }}">contact</a>
                {% else %}
                    <a id="contact-landing" href="{{ "/contact/" | prepend: site.baseurl }}">contact</a>
                {% endif %}
            </nav>

        </div>
    </div>

</header>
<div class="banner music centered">
    <p class="big"><span class="emoji">📣</span> ANNOUNCEMENTS</p>
    <ul> 
        <li><span class="emoji">🎵⛈️</span> I have NEW MUSIC out now on Bandcamp! <span class="emoji">⛈️🎵</span>
        <br/>
        Listen to <a href="https://dbaker.bandcamp.com/album/R-I-T-E-S" target="_blank">RITES</a>
        </li>
        <li><span class="emoji">🧑</span> Name change: I now go by the name of Cadence <br/>
        (you may have known me as Dorothea Baker)</li>
        <li><span class="emoji">🔗</span> Some links on my site may be broken for a while <br/>
        - please bear with me while I fix them</li>
    </ul>
</div>